.volumeSlider {
    width: 2px;
    height: 175px;
    /* -webkit-appearance: slider-vertical; */
    /* -webkit-appearance: none; */
    writing-mode: vertical-lr;
    direction:rtl;
}

/* .volumeSlider {
    -webkit-appearance: slider-vertical;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
} */

/* .volumeSlider::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 16px;
  }

  .volumeSlider::-moz-range-track {
        height: 15px;
        background: #ccc;
        border-radius: 16px;
      }
    .volumeSlider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none; 
        height: 15px;
        width: 15px;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #f50;
        box-shadow: -407px 0 0 2px #f50;
      }
      .volumeSlider::-moz-range-thumb {
        height: 15px;
        width: 15px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #f50;
        box-shadow: -407px 0 0 400px #f50;
      } */
  
 .track h3 {
    display: flex;
    align-content: baseline;
    justify-content: flex-end;
  }
  .track {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .trackControls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .globalControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem
  }

  .controls {
   margin-top:1rem
  }

  .sourceName{
    min-height: 5rem;
    /* display: flex;
    align-items: center;
    align-content: center; */
  }