.lyricsWrapper {
    margin-left: 5rem;
}

.lyricsdisplay {
    overflow-y: scroll;
    height: 430px;
    /* background-color: black; */
    scrollbar-width: thin;
    /* overflow: hidden; */
    mask-image: linear-gradient(to top, transparent 0%, black 10px, black calc(100% - 10px), transparent 100%);
}

.lyricsdisplay::-webkit-scrollbar{
    /* display:none; */
    scrollbar-width: thin;
}