#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.tracks {
  display: flex;
}

.singleTrack {
  margin-right: 1rem;
  margin-left: 1rem;
}

.audio-mixer {
  width: 100%;
  display: flex;  
  flex-wrap: wrap;
}
.globalSeek input {
  width: 100%

}

.controls-wrapper {
  width: 100%;
}
.tracks{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  /* background-color: black; */
}

.controls{
  margin-top: 2rem;
}

.globalSeek{
  margin-top: 1rem;
}

.appWrapper {
  background-color: rgba(245, 40, 145, 0.3);
  border-radius: 50px;
  padding: 5rem;

}

.selectBox {
  margin-top: 1rem;
  margin-bottom: 0rem;
}