#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
  background-repeat: no-repeat;
  
}

.tracks {
  display: flex;
}

.singleTrack {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.audio-mixer {
  width: 100%;
  display: flex;  
  justify-content: center;
  /* align-items: flex-start; */
  flex-wrap: wrap;
}

.globalSeek input {
  width: 100%

}

.controls-wrapper {
  width: 100%;
}
.tracks{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  /* background-color: black; */
}

.controls{
  margin-top: 2rem;
}

.globalSeek{
  margin-top: 1rem;
  width: 100%
}

.appWrapper {
  width: 100%;
  height: auto;
  background-color: rgba(245, 40, 145, 0.3);
  border-radius: 50px;
  /* Padding in element styling for responsiveness */
}

.selectBoxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  color: "black";
}

.selectBox p {
font-weight: bold;
font-size: large;
margin-bottom: 0;
}

.glass {
  background: rgba(255, 255, 255, 0.52);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glassCard {
  background: rgba(202, 159, 91, 0.1);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glasstransparent {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}