#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /* Ensures the background covers the full height */
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #fdc873;
}

@media only screen and (min-width: 600px) {
  body {
    min-height: 100vh;
  }
  #root {
    background-image: none;
  }
}

@media only screen and (max-width: 2100px) and (min-width: 1000px) {
  button img {
    max-width: 2rem;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #fdc873;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: whitesmoke;
    background-color: #ffffff;
  }
  a:hover {
    color: #fdc873;
  }
  button {
    background-color: #f9f9f9;
  }
}
